@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(".../fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
font-family: "PT Sans";
font-style: normal;
font-weight: 700;
src: url(".../fonts/ptsans-700.woff2");
font-display: swap;
}

.visually-hidden {
position: absolute;
left: -9999px;
top: -9999px;
width: 1px;
height: 1px;
overflow: hidden;
}

body {
font-family: "PT Sans", sans-serif;
font-size: 24px;
line-height: 28px;
background-color: ;
color: black
}

.page-header {
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  background: rgba(255, 255, 255, 1);
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.button-header {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color:white;
}

.title-main {
font-family: PT Sans;
font-size: 30px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
}


.title-small-text {
font-family: PT Sans;
font-size: 22px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: center;
}

.advantages-item {
  font-family: PT Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}

.advantages-description {
font-family: PT Sans;
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: center;
}

.button-big {
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button-newsletter-button {
font-family: PT Sans;
font-size: 20px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
text-transform: uppercase;
}

.brown {
  background-color:rgba(117, 97, 87, 1);
  color:#ffffff;
}

.white {
  color:#ffffff;
}

.blue {
  background-color:rgba(130, 179, 211, 1);
  color:#ffffff;
}

.green {

}

.grey {

}

input {
font-family: PT Sans;
font-size: 18px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}

.inner-hear-title {
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}

.breadcrumbs {
  color:tomato; /*поменять цвет!! */
}

.breadcrumbs-link {
  color: inherit;
}

.catalog-filter-title {
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: tomato; /*поменять  цвет */
}

.control {
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color:tomato; /*поменять цвет */
}

.number {
font-family: PT Sans;
font-size: 18px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}
