@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(".../fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
font-family: "PT Sans";
font-style: normal;
font-weight: 700;
src: url(".../fonts/ptsans-700.woff2");
font-display: swap;
}

.visually-hidden {
position: absolute;
left: -9999px;
top: -9999px;
width: 1px;
height: 1px;
overflow: hidden;
}

body {
font-family: "PT Sans", sans-serif;
font-size: 24px;
line-height: 28px;
}

.page-header {
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  background: rgba(255, 255, 255, 1);
}

a {
  text-decoration: none;
  color: black;
}

.title-main {
font-family: PT Sans;
font-size: 30px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
}


.title-small-text {
font-family: PT Sans;
font-size: 22px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: center;
}

.advantages-item {
  font-family: PT Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}

.advantages-description {
font-family: PT Sans;
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: center;
}

.button-big {
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button-newsletter-button {
font-family: PT Sans;
font-size: 20px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
text-transform: uppercase;
}

.brown {
  background-color:rgba(117, 97, 87, 1);
  color:#ffffff;
}

.white {
  color:#ffffff;
}

.blue {
  background-color:rgba(130, 179, 211, 1);
  color:#ffffff;
}

.green {
  background-color: rgba(125, 181, 79, 1);
  color:#ffffff;
}

.grey {
background-color: rgba(242, 242, 242, 1);
}

input {
font-family: PT Sans;
font-size: 18px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}

.inner-hear-title {
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}

.breadcrumbs {
  color: white;
}

.breadcrumbs-link {
  color: inherit;
}

.catalog-filter-title {
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.control {
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.number {
font-family: PT Sans;
font-size: 18px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}

.product-list {
font-family: PT Sans;
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
}

.product-card-title {
font-family: PT Sans;
font-size: 24px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
}

.pagination {
font-family: PT Sans;
font-size: 20px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
}

ol.pagination li:first-child {
  background-color: rgba(242, 242, 242, 1);
}

ol.pagination li:not(:first-child) {
  background: rgba(130, 179, 211, 1);

}

.pagination li:not(:first-child):not(:nth-child(5)) a {
  color: white;
}


.contacts-phone {
font-family: PT Sans;
font-size: 40px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0em;
text-align: center;
}
